<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>精弘首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="department.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>

  <body>
    <div id="body" ref="pronbit">
      <div class="title-style">我们的部门</div>
      <div class="department">
        <a
          class="department-item"
          v-for="item,index in departments"
          :href="item.href"
        >
          <div
            class="img"
            v-bind:style="{'background-image': 'url(' + item.img + ')'}"
           ></div>
          <div class="name">{{item.name}}</div>
          <div v-if="index !==5" style="width: 100%;height:0.3rem;background-color: #D20001; margin-top: 10px;"></div>
        </a>
      </div>

      <div id="nav">
        <div v-bind:class="top">
          <div class="button-on" v-on:click="show" @touchmove.prevent></div>
          <img
            class="img"
            src="../photo/top/logo.png"
          />
        </div>
        <div v-if="seen" v-bind:class="slideNav">
          <div v-bind:class="top">
            <div class="button-off" v-on:click="hide"></div>
            <img
              class="img"
              src="../photo/top/logo.png"
            />
          </div>
          <div class="nav-list">
            <div>
              <a href="index.html">首页</a>
            </div>
            <div>
              <a href="story.html">我们的故事</a>
            </div>
            <div>
              <a href="product.html">我们的产品</a>
            </div>
            <div>
              <a href="department.html">我们的部门</a>
            </div>

            <div>
              <a href="join.html">加入我们</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">©2021 浙江工业大学-精弘网络</div>
    <script src="department.js"></script>
  </body>
</html>
