<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>我们的产品</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="product.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>

  <body>
    <div id="body" ref="pronbit">
      <div class="title-style"><h1>我们的产品</h1></div>

      <div class="product">
        <div
          class="product-item"
          v-for="product in products"
          v-bind:style="{'grid-column':  product.wh[0] , 'grid-row':  product.wh[1]} "
        >
          <!--多个style之间连接用,而不是;如果style有-可以用''包围起来，""不行-->
          <div class="product-title">{{product.title}}</div>

          <div class="product-introduce">{{product.introduce}}</div>

          <div class="product-img-list">
            <div v-for="item in product.img">
              <!-- <div
                class="product-img"
                v-bind:style="{'background-image': 'url(' + item[0] + ')'}"
              ></div> -->
              <img class="product-img" :src="item[0]">
              <div class="product-img-title">{{item[1]}}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="footer">©2021 浙江工业大学-精弘网络</div>
      
      <div
        v-bind:class="top"
        style="background:#D20001"
      >
        <img src="../photo/top/logo.png" />
        <nav>
          <div class="nav-list">
            <div
              v-for="page,index in pages"
              
              :class="page_now === index?'page_selected':'page_unselected'"
            >
              <a :href="page.href" style="height: 100%">{{page.name}}</a>
            </div>
          </div>
        </nav>
      </div>
    </div>

    <script src="product.js"></script>
  </body>
</html>
